.allCriminals {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.allWitnesses {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.criminal__cards {
    flex-basis: 30%;
    border: solid 1px;
    text-align: center;
    margin: 5px;
    
}
.witness__cards {
    flex-basis:30%;
    border:solid 1px;
    text-align: center;
    margin: 5px;
}
       

.allOfficers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.officer__cards {
    flex-basis: 30%;
    border: solid 1px;
    text-align: center;
    margin: 5px;
    padding: 5px;
    
}

.officerNoteContainer {
    display: flex;
}

.officersContainer {
    flex-basis: 50%;
}

.criminalsContainer {
    height: 45em;
    overflow: auto;
    flex-basis: 80%;
}

.noteFormContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 20px;
}

.noteContainer {
    flex-basis: 50%;
}

.criminalsAndAlibis {
    display:flex
}

.associateAlibis {
    flex-basis: 20%;
}

textarea{
    width: 20em;
    height: 10em;
}